.boxed {
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  max-width: 1230px;
}
.boxed .navbar {
  width: 100% !important;
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  max-width: 1230px;
}
.boxed .bx-wrapper .owl-next {right: -30px !important}
.boxed .bx-wrapper .owl-prev {left: -30px !important}
.switcher {
  position: fixed;
  bottom: 30%;
  padding: 5px;
  left: -200px;
  z-index: 999999999999999999999999999999999;
  width: 200px;
  height: auto;
  background: #f7f7f7;
  padding-top: 10px;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  border: solid 1px #ddd;
}
.switcher .fa-cog {
  background: #f7f7f7;
  border: solid 1px #ddd;
  color: #707070;
  width: 50px;
  height: 50px;
  font-size: 36px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  right: -50px;
  top: -1px;
}
.switcher .fa-cog:hover {
  -webkit-animation: spin 2s linear;
  -moz-animation: spin 2s linear;
  -o-animation: spin 2s linear;
  animation: spin 2s linear;
}
.switcher.active {
  left: 0;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.switcher .box {
	position:relative;
	display:inline-block;
  width: 29%;
  height: 26px;
  text-indent: -9999px;
  cursor: pointer;
  border: 1px solid #222222 !important;
  color: #fff;
  margin: 5px 1% 5px;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
}
.switcher .heading-panel{
	position:relative;
	display:block;
	line-height:24px;
	padding:8px 10px;
	background:#003;
	color:#ffffff;
	text-align:center;
	text-transform:capitalize;
}

.switcher .layout-outer,
.switcher .colors-outer{
	text-align:center;
	padding:10px 15px;	
}

#default {background: #fb4848;}
#blue {background: #6699FF}
#asparagus {background: #7BA05B}
#green {background: #76c381;}
#orange {background: #d37b46;}
#purple {background: #e281ef}
#yellow {background: #f8ca00}
#tomato {background: #FF6347}
#teal {background: #008080}
#pink {background: #FF69B1}
#lima {background: #73B819}
#java {background: #19B8AF}
#turquoise {background: #40E8D9}
#default-2 {background: #fb4848;}
#green-2 {background: #76c381;}
#orange-2 {background: #d37b46;}
#boxed,
#full {
	position:relative;
	display:block;
	padding:5px 15px;
	font-size:14px;
	border:2px solid #999;
  background: #f8f8f8;
  color: #707070;
}

.layout-option{
	position:relative;
	display:inline-block;
	width:45%;
	margin:0px 1%;
}