.admin-bar .is-fixed .main-bar{
	top:32px;
}
.admin-bar .faqs-form{
	top:132px;
}
.breadcrumb-row ul.list-inline li a{
	color:#191919;
}
.main-slider .tp-dottedoverlay.twoxtwo{
	background:none;
	background-color:rgba(0,0,0,0.1); 
	z-index:999;
}
.main-slider .tp-dottedoverlay.threexthree{
	background:url(../images/overlay/rrdiagonal-line.png);
	background-color: rgba(0, 0, 0, 0.1);	
	z-index:999;
}
.main-slider .slide-one-title{
	font-size:60px;
	font-weight:700;
	line-height:60px;
}
.main-slider .slide-one-text{
	line-height: 30px;
	color: rgb(255, 255, 255);
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
}
.main-slider .slide-one-bt a.site-button{
	margin: 0px 40px 0px 7px;
	font-size: 14px;
	line-height: 20px;
}
.slider-five.wpb_content_element{
	margin-bottom:0px !important;
}
.slider-five div{
	text-align:center !important;
}
.slider-five .rev-btn{
	padding:0 35px !important;
}
.dez-bnr-inr{
	background-image:url(../images/banner/bnr1.jpg);
	height: 300px;
    background-size: cover;
    background-position: center center;
    display: table;
    width: 100%;
}
.contact-style-1 .form-group .input-group textarea, .mack-an-appointment .input-group textarea,
.contact-style-1.faqs-form textarea.form-control {
    max-height: 110px;
}
.contact-v1.contact-style-1 .form-group .input-group textarea{
	max-height:115px;
}
.comments-area .comment-form .text_description {
    position: relative;
    margin-bottom: 20px;
}
.const_theme .const_theme{
	margin-left:70px;
}
.default-form h3.comment-reply-title {
    margin-bottom: 0px;
}
.default-form h4 small a {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.const_theme .comment-respond{
	margin-bottom:30px;
}
.footer-bottom ul li{
	display:inline-block;
	list-style-type:none;
}
/*** 

====================================================================
	Contact map Section
====================================================================

***/

.contact-map-section{
	position:relative;
	overflow:hidden;
}

.contact-map-section .map-canvas{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:block;
}

.contact-map-section .form-outer{
	position:relative;
	max-width:470px;
	float:right;
	width:100%;
	background-color:#ffffff;
	-webkit-box-shadow: 0px 0px 18px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 18px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 18px 0px rgba(204,204,204,1);
}

.contact-map-section .form-outer .inner-box{
	position:relative;
	display:block;
	padding:50px 40px 30px;
}

.contact-map-section .form-outer .inner-box h2{
	position:relative;
	color:#333333;
	line-height:1.2em;
	font-weight:700;
}

.contact-map-section .form-outer .inner-box .text{
	position:relative;
	color:#777777;
	font-size:16px;
	margin-bottom:25px;
}
/*** 


====================================================================
	Map Section Style
====================================================================

***/
.section-full.content-inner-1.bg-white.contact-style-1{
	padding-bottom:50px;	
}
.map-section.contact_style_one{
	position:relative;
	padding-bottom:80px;
}

.map-data{
	text-align:center;
	font-size:14px;
	font-weight:400;
	line-height:1.8em;
}

.map-data h6{
	font-size:16px;
	font-weight:700;
	text-align:center;
	margin-bottom:5px;
	color:#121212;
}

.map-canvas{
	height:459px;
}
/*-----------------------wishlist-----------------------*/
.ajax-loading {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.ajax-loading:before  {
    background: url("../images/ajax-loader.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 32px;
    left: 50%;
    margin: -5.5px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 32px;
}
body > .ajax-loading {
    position: fixed;
}
#pop {
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.15);
    left: 50%;
    margin-left: -250px;
    margin-top: -100px;
    position: fixed;
    top: 50%;
    width: 500px;
}
.pop {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 15px 20px;
}
/*****************Mini Css Own****************/
.input-group.equal-col.skew-subscribe{
	height:130px;
}
.footer-widget .widget_services ul li{
	padding-top:0px;
	margin-bottom:10px;
}
.footer-widget .widget_services ul li:before{
	top:0px;
}
.footer-widget.widget .post-title,
.sidebar-widget.widget .post-title,
.dez-post-title .post-title{
	margin-top:0px;
}
.blog-post.blog-grid.date-style-2 .dez-post-title .post-title{
	margin-top:15px;
}
.woocommerce form.login, .woocommerce form.register{
	border-radius:0px !important;
	border: 1px solid rgba(0,0,0,0.1) !important;
}
.woocommerce form.login input, .woocommerce form.register input{
	background: #DDE3EC !important;
    height: 44px !important;
	border:none !important;
	border-radius: 0px !important;
}
/*--------------------------theme check----------------------------------*/
	#wp-calendar {
		width: 100%;
	}
	#wp-calendar caption {
		text-align: right; 
		color: #333; 
		font-size: 12px; 
		margin-top: 10px;
		margin-bottom: 15px;
	}
	#wp-calendar thead { 
		font-size: 10px;
	}
	#wp-calendar thead th { 
		padding-bottom: 10px;
	}
	#wp-calendar tbody { 
		color: #aaa; 
	}
	#wp-calendar tbody td { 
		background: #f5f5f5; 
		border: 1px solid #fff; 
		text-align: center; 
		padding:8px;
	}
	#wp-calendar tbody td:hover { 
		background: #fff; 
	}
	#wp-calendar tbody .pad { 
		background: none; 
	}
	#wp-calendar tfoot #next { 
		font-size: 10px; 
		text-transform: uppercase; 
		text-align: right;
	}
	#wp-calendar tfoot #prev { 
		font-size: 10px; 
		text-transform: uppercase; 
		padding-top: 10px; 
	}
	
	.sticky .inner-box {background: #efefef; padding:10px; }
	.sticky .inner-box .thm-unit-test {border: 3px solid #fff; padding:20px !important; }
	.sticky .post .post-content{ background-color:transparent; }
	.wp-caption {
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
	}
	.gallery-caption {
		font-size:15px;
		color:#777777;
		line-height:1.8em;
		font-weight:400;
		background:#ffffff;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-family: 'Lato', sans-serif;	
	}
	.bypostauthor{
		font-size:15px;
		color:#777777;
		line-height:1.8em;
		font-weight:400;
		background:#ffffff;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		font-family: 'Lato', sans-serif;		
	}
	.alignright{ 
		text-align:right;
	}
	.alignleft{ 
		text-align:left;
	}
	.aligncenter{ 
		text-align:center;
	}	
	.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/*************************************Theme Unit Testing***********************/
.thm-unit-test .tag-sticky-2 .blog-lg .dez-post-info,
.thm-unit-test .sticky .blog-lg .dez-post-info{
	background:#fff;
	padding:20px;
	border:5px solid #ededed;
}
.thm-unit-test h1,.thm-unit-test h2,.thm-unit-test h3,.thm-unit-test h4,.thm-unit-test h5,.thm-unit-test h6{
	font-family: Roboto;
	margin-bottom:15px;
	font-weight:500;
	color: #333333;
	line-height:1.2em;
}
.thm-unit-test h1{
	font-size:28px;
}
.thm-unit-test h2{
	font-size:26px;
}
.thm-unit-test h3{
	font-size:22px;
}
.thm-unit-test h4,.thm-unit-test .text h4{
	font-size:20px;
}
.thm-unit-test h5{
	font-size:18px;
}
.thm-unit-test h6{
	font-size:16px;
}
.thm-unit-test table{
	margin-bottom:20px;
}
.thm-unit-test table thead tr th{
	border: 1px solid #ddd;
    vertical-align: bottom;
	padding:8px;
}
.thm-unit-test table tbody tr th{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.thm-unit-test table tbody tr td{
	border: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
.thm-unit-test .text > ul,.thm-unit-test .text > ol,.thm-unit-test > ol,.thm-unit-test > ul{
	padding-left:18px;
}
.thm-unit-test .text > ul li ul,.thm-unit-test .text > ul li ul li ul,.thm-unit-test > ul li ul,.thm-unit-test > ul li ul li ul,
.thm-unit-test .text > ol li ol,.thm-unit-test .text > ol li ol li ol,.thm-unit-test > ol li ol,.thm-unit-test > ol li ol li ol{
	padding-left:40px;
}
.thm-unit-test .text > ul li,
.thm-unit-test > ul li{
	list-style-type:disc;
	display:list-item;
}
.thm-unit-test .text > ul li ul li,
.thm-unit-test > ul li ul li{
	list-style-type:circle;
}
.thm-unit-test .text > ul li ul li ul li,
.thm-unit-test > ul li ul li ul li{
	list-style-type:square;
}
.thm-unit-test ul li{
	line-height:30px;
}
.thm-unit-test ol li{
	list-style-type:decimal;
	display:list-item;
	line-height:30px;
}
.thm-unit-test ol li ol li{
	list-style-type:lower-alpha;
}
.thm-unit-test ol li ol li ol li{
	list-style-type:upper-roman;
}
.thm-unit-test p img,.thm-unit-test figure img,.thm-unit-test img{
	max-width:100%;
	display:block;
	height:auto;
}
figure{
	max-width:100%;
	display:block;
}
.page .paginate-links {
	margin-top: 35px;
}
.paginate-links {
	margin-top: 15px;
}
.paginate-links a,
.paginate-links > span {
    margin: 0 5px 7px 0;
    position: relative;
	border: 1px solid #FDC716;
    color: #FDC716;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 44px;
    min-width: 46px;
	height:46px;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease 0s;
}
.paginate-links a:hover,
.paginate-links > span{
	background: #FDC716 none repeat scroll 0 0;
    border-color: #FDC716;
    color: #ffffff;
}
/****************Custom Widget*********************/
.widget_recent_comments ul li{
	padding: 10px 0px 10px 25px;
}
.widget select{
	width:100%;
	display:block;
	border:1px solid #ededed;
	padding:6px 6px;
	margin-top:15px;
}
.textwidget img {
    height: auto;
    max-width: 100%;
}
.widget ul{
	padding-bottom:0px;
}
.widget ul li ul{
	padding:0px;
	margin:0px;
}
.widget ul li ul li{
	border-bottom:none;
	border-top:1px solid #e6e6e6;
	margin-bottom:0px;
	padding-top:10px;
	padding-left:0px;
	padding-bottom:0px;
	margin-top:10px;
	line-height:20px;
}
.widget ul li ul li:after{
	top:10px;
}
.thm-unit-test .share-box ul{
	padding-left:0px !important;
}
.thm-unit-test .share-box ul li{
	list-style-type:none !important;
	display:inline-block !important;
}
.thm-unit-test .share-box ul li img{
	display:inline-block !important;
}
.post-password-form input[type="password"]{
	border:1px solid #FDC716;
	padding:5px 10px;
	display:inline-block;
}
.post-password-form input[type="submit"]{
	background:#FDC716;
	color:#fff;
	padding:6px 15px; 
	display:inline-block;
	border:none;
	
}
.thm-unit-test .review-box .fr-coment-item .fr-coment-item{
	margin-left:60px;
}
.thm-unit-test .review-box .fr-coment-item .name h4{
	font-size:18px;
}
.thm-unit-test .default-form .section-title h3{
	font-size:24px !important;
}
.blog-section .thm-unit-test > p{
	margin-bottom:15px;
}
/*********************Custom Footer widget Styling************************/
.footer-widget h3{
	margin-bottom:30px;
}
.widget.footer-widget.widget_recent_comments ul li{
	padding: 10px 10px 10px 25px;
}
.widget.footer-widget ul li a{
	color:#fafafa;
	padding-left:15px;
}
.widget.footer-widget ul li ul li{
	border-top:1px dashed rgba(102, 102, 102, 0.3); 
}
.widget.footer-widget.widget_meta ul li a abbr[title]{
	color:#fafafa;
}
.footer-widget ul li a,.footer-widget ul li,.footer-widget .textwidget p{
	color:#ffffff;
}
.footer-widget select{
	width:100%;
	padding:6px;
	color:#222;
}
.footer-widget #wp-calendar caption{
	padding:0px;
	margin:0px 0 15px;
	font-size:14px;
	color:#ffffff;
}
.footer-widget #wp-calendar thead th{
	border:1px solid #fafafa;
	border-bottom:none;
	text-align:center;
	padding:0px;
	line-height:30px;
	color:#ffffff;
}
.footer-widget #wp-calendar tbody .pad{
	background:#fafafa;
}
.footer-widget .tagcloud a{
	color:#555555;
}
.widget.footer-widget.widget_rss ul li{
	border-bottom:1px dashed rgba(102, 102, 102, 0.3);
}
.widget.footer-widget.widget_rss ul li a{
	padding-left:0px;
}
.widget.footer-widget.widget_rss ul cite,
.widget_rss ul .rss-date{
	color:#FDC716;
}
.comment-list .comment.pingback .comment-body{
	margin-left:0px;
}
.comment-list .comment.pingback .comment-body .comment-author img{
	display:none;
}
.no-comments{
	display:inline-block;
	background:#FDC716;
	padding:8px 15px;
	color:#ffffff;
	margin-top:20px;
}
.heal_theme .heal_theme .comment-box{
	padding-left:100px;
}
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 30px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.thm-unit-test .posts-nav{
	margin-top:50px;
}
.thm-unit-test .posts-nav a{
	font-size:15px;
	color:#333333;
}
.thm-unit-test .posts-nav a span{
	display:inline-block;
	padding:15px;
	color:#ffffff;
	font-size:14px;
	background:#333333;
}
.thm-unit-test .posts-nav a:hover{
	color:#FDC716;
	text-decoration:none;
}
.thm-unit-test .posts-nav a:hover span{
	background:#FDC716;
}
.blog-lg .dez-post-info{
	border:1px solid #e9e9e9;
	padding:25px;
}
.page .comments-area .p-a30.p-t0.bg-white{
	padding-top:30px;
}
figcaption{
	padding:10px 0 0;
}
.widget_rss.widget ul li{
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #e9e9e9;
}
.widget_rss.widget ul li a{
	display:block;
	font-weight:600;
}
.widget_rss.widget ul li .rss-date{
	margin-top:10px;
	display:block;
}
.widget.footer-widget.widget_bunch_about_us ul li a{
	text-align:center;
	line-height:24px;
	padding:0px;
}

.gallery figure{
	display:inline-block;
}

/*********************WP Gallery*********************/
.gallery-columns-1,.gallery-columns-2,.gallery-columns-3,.gallery-columns-4,.gallery-columns-5,
.gallery-columns-6,.gallery-columns-7,.gallery-columns-8,.gallery-columns-9{
	margin-left:-15px;
	margin-right:-15px;
}
.gallery-columns-1 .gallery-item,.gallery-columns-2 .gallery-item,.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,.gallery-columns-5 .gallery-item,.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,.gallery-columns-8 .gallery-item,.gallery-columns-9 .gallery-item{
	padding-left:15px;
	padding-right:15px;
}
.gallery-columns-1 .gallery-item{
	width:100%;
}
.gallery-columns-2 .gallery-item{
	width:50%;
}
.gallery-columns-3 .gallery-item{
	width: 33.33333333%;
}
.gallery-columns-4 .gallery-item{
	width: 25%;
}
.gallery-columns-5 .gallery-item{
	width: 20%;
}
.gallery-columns-6 .gallery-item{
	width:16.66666666%;
}
.gallery-columns-7 .gallery-item{
	width: 14.2857143%;
}
.gallery-columns-8 .gallery-item{
	width: 12.5%;
}
.gallery-columns-9 .gallery-item{
	width: 11.11111111%;
}
.dez-post-meta li i,
.default-blog-single .dez-post-meta li strong{
    color: #666666;
}
 .dez-post-meta li strong{
    color: #fff;
}
.side-bar .search-bx .input-group .form-control{
	height:42px;
}
.side-bar .search-bx .input-group-btn .site-button{
	height: 42px;
	line-height: 40px;
	width: 60px;
	padding:0px;
}
.thm-unit-test .text blockquote p,
.thm-unit-test blockquote p{
	line-height:30px;
	font-size:14px;
}
.dez-post-readmore a.site-button-link{
	color:#101010;
}
/*****************Last Review Fixes***************/
.date-style-2 .post-date strong{
	font-size:14px;
}
.date-style-2 .post-date{
	width:auto;
}
.dez-post-tags{
	padding-top:15px;
}
.dez-post-tags .post-tags a{
	border-color:#777;
	color:#777;
}
.dez-post-meta ul li{
	font-weight:600;
}
.comments-area{
	margin-top:60px;
}
.page .thm-unit-test .posts-nav{
	margin-top:20px;
}
.widget_calendar tfoot tr td a{
	background:none;
}
.comment-respond .comment-reply-title{
	font-weight:500;
}
.widget.sidebar-widget h4{
	font-weight:400;
	font-size:16px;
}
.breadcrumb-row ul li{
	margin-right:6px;
}
.blog-post.blog-lg .dez-post-readmore a.site-button-link{
	background:#101010;
	border:1px solid rgba(0,0,0,0);
	padding:8px 20px;
	color:#ffffff;
	transition:all 500 ease-in;
	-moz-transition:all 500 ease-in;
	-ms-transition:all 500 ease-in;
	-o-transition:all 500 ease-in;
	-webkit-transition:all 500 ease-in;
}
.blog-post.blog-lg .dez-post-readmore a.site-button-link:hover{
	background:none;
	border:1px solid #101010;
	color:#101010;
}
.site-footer .footer-bottom ul li.dropdown a i{
	margin-left:5px;
	font-size:8px;
	position:relative;
	top:-2px;
} 
.widget .bootstrap-select.open ul.inner li:before{
	display:none;
}
.widget .open.bootstrap-select ul.inner li a{
	display:block;
}
.footer-widget .open.bootstrap-select ul.inner li a{
	color:#101010;
}
.footer-widget .search-bx .input-group{
	display:block;
	position:relative;
}
.footer-widget .search-bx .input-group .form-control{
	display:block;
	position:relative;
	float:none;
	height:40px;
	line-height:38px;
	border:1px solid #eaeaea;
	padding:0 40px 0 15px;
	border-radius:0px;
}
.footer-widget .search-bx .input-group-btn{
	position:absolute;
	top:0px;
	right:35px;
	z-index:99;
}
.footer-widget .search-bx .input-group-btn .site-button{
	padding:0px;
	height:40px;
	line-height:40px;
	width:40px;
}
.product-item .overlay-icon a i{
	line-height:40px;
}
.woocommerce button.button.alt.disabled{
	color:#fff !important;
}
.woocommerce div.product form.variations_form table.variations td{
	padding:0px !important;
}
.woocommerce div.product form.variations_form table.variations td label{
	color:#000;
	padding-top:9px;
	font-size:14px;
	line-height:1.6;
}
.woocommerce div.product form.cart .reset_variations{
	margin-left:15px;
}
.woocommerce div.product form.variations_form .single_variation_wrap .woocommerce-variation-price{
	margin-bottom:15px;
}
.woocommerce div.product form.variations_form .single_variation_wrap .button.alt{
	background:#FDC716;
}
.woocommerce .cart-collaterals .cross-sells .products .product-item{
	width:50%;
}
.woocommerce .select2-container--default .select2-selection--single{
	border-color:#e0e0e0;
	min-height:48px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height:46px;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow{
	top:11px;
}
.dez-post-text {
    margin-bottom: 30px;
    margin-top: 25px;
    display: block;
}
.dez-post-text p{
	line-height:26px;
	font-size:14px;
	font-weight:400;
	color:#767676;
	margin-bottom:15px;
}
.blog-post.blog-single{
	margin-bottom:0px;
}
.dez-post-meta  .post-tag .post-categories{
	display:inline-block;
}
.f-15{
	font-size:15px;
}
.logo-header > a{
	padding:11px;
}
.is-fixed .header-nav .nav > li > a{
	padding:27px 12px;
}
.header-curve .logo-header img{
	margin-top:-3px;
}
.date-style-2 .post-date{
	background:#101010;
}
.woocommerce form.login .woocommerce-form__input-checkbox, 
.woocommerce form.register .woocommerce-form__input-checkbox{
    opacity:1 !important;
     height: auto !important;
}
.dez-post-meta li:last-child:after{
	display:none;
}

/** Gutenberg CSS **/
.min-container,
.blog-post.blog-single{
	max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.blog-post.blog-single .dlab-post-info{
	padding:0;
}
.blog-post.blog-single .dez-post-text.text  ol,
.blog-post.blog-single .dez-post-text.text  ul {
    padding-left: 30px;
}
.blog-post.blog-single .dez-post-text strong {
    font-weight: 600;
}
.blog-post.blog-single .dez-post-text.text  ol li,
.blog-post.blog-single .dez-post-text.text  ul li {
	padding: 5px 5px;
}
.blog-post.blog-single .dez-post-text.text > .wp-block-gallery {
	padding: 0;
	list-style: none;
}
.blog-post.blog-single .dez-post-text.text > .wp-block-gallery li{
	padding: 0;
	list-style: none;
	margin:4px;
}
.wp-block-gallery .blocks-gallery-image, 
.wp-block-gallery .blocks-gallery-item{
	margin: 0 8px 8px 0;
}
.wp-block-gallery.columns-4 .blocks-gallery-image, 
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-image, 
.wp-block-gallery.columns-3 .blocks-gallery-item{
	margin-right: 8px;
}
.content-spacious-full .wp-block-gallery {
    margin-left: calc(-200px - (10px/2));
    margin-right: calc(-200px - (10px/2));
    width: calc(100% + 400px + 10px);
    max-width: initial;
}
.alignwide{
	margin-left: calc(-100px - (10px/2));
    margin-right: calc(-100px - (10px/2));
    width: calc(100% + 200px + 10px);
    max-width: initial;
}
.alignfullwide{
	margin-left: calc(50% - 50vw - (var(--content-share-ml,0px)/2)) !important;
	width: 100vw;
	max-width: 100vw;
	box-sizing: border-box;
}
.thm-unit-test .dez-post-text h1, 
.thm-unit-test .dez-post-text h2, 
.thm-unit-test .dez-post-text h3, 
.thm-unit-test .dez-post-text h4, 
.thm-unit-test .dez-post-text h5, 
.thm-unit-test .dez-post-text h6{
	font-family:Roboto;
}

.dez-post-text h1,
.thm-unit-test .dez-post-text h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 10px;
	font-weight: 700;
}
.dez-post-text h2,
.thm-unit-test .dez-post-text h2 {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 5px;
	font-weight: 700;
}
.dez-post-text h3,
.thm-unit-test .dez-post-text h3 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 8px;
	font-weight: 700;
}
.dez-post-text h4,
.thm-unit-test .dez-post-text h4 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 5px;
	font-weight: 600;
}
.dez-post-text h5,
.thm-unit-test .dez-post-text h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
	font-weight: 600;
}
.dez-post-text h6,
.thm-unit-test .dez-post-text h6 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
	font-weight: 600;
}

.blog-post.blog-single .dez-post-text pre {
	margin: 0 0 25px;
    padding: 20px;
    color: #ddd;
    background-color: #222;
    white-space: pre;
    text-shadow: 0 1px 0 #000;
    border-radius: 5px;
    border-bottom: 1px solid #555;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) inset, 0 0 20px rgba(0, 0, 0, 0.2) inset;
}
.blog-post.blog-single .dez-post-text ul li,
.blog-post.blog-single .dez-post-text ol li,
.blog-post.blog-single .dez-post-text p {
		font-family:Georgia;
		font-size:18px;
		line-height:35px;
}
.blog-post.blog-single .dez-post-text p {
	margin-bottom:28px;
}
.blog-post.blog-single .dez-post-text blockquote p{
	font-size: 20px;
	line-height: 32px;
	color: #000000;
	margin-bottom: 10px;   	
}
.blog-post.blog-single .paginate-links {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.blog-post.blog-single .paginate-links a, 
.blog-post.blog-single .paginate-links > span {
    margin: 0 0 0 10px;
    position: relative;
    border: 0px solid #6cc000;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease 0s;
    border-radius: 3px;
}
.blog-post.blog-single .paginate-links a{
	 background: #E0E0E0;
	 color: #000;
}
.blog-post.blog-single .wp-block-button__link {
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 700;
}
.blog-post.blog-single .dez-post-text .wp-block-gallery {
    margin-left: calc(-190px - (10px/2));
    margin-right: calc(-190px - (10px/2));
    width: calc(100% + 380px + 10px);
    max-width: initial;
}
.blog-post.blog-single .dez-post-text > p:first-child:first-letter {
    color: #000;
    font-size: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 14px;
	margin-top: 15px;
}
.blog-post.blog-single .dez-post-text .has-large-font-size {
    font-size: 36px;
    line-height: 50px;
	color: #000;
}
/* Gutenberg Gallery */
.wp-block-gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0
}
.dez-post-text p a{
	color:var(--primary-color);
}
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: 0 16px 16px 0;
    position: relative
}

.wp-block-gallery .blocks-gallery-image figure,
.wp-block-gallery .blocks-gallery-item figure {
    height: 100%;
    margin: 0
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .wp-block-gallery .blocks-gallery-image figure,
    .wp-block-gallery .blocks-gallery-item figure {
        align-items: flex-end;
        display: flex;
        justify-content: flex-start
    }
}

.wp-block-gallery .blocks-gallery-image img,
.wp-block-gallery .blocks-gallery-item img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .wp-block-gallery .blocks-gallery-image img,
    .wp-block-gallery .blocks-gallery-item img {
        width: auto
    }
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
    background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3) 60%, transparent);
    bottom: 0;
    color: #fff;
    font-size: 13px;
    max-height: 100%;
    overflow: auto;
    padding: 40px 10px 5px;
    position: absolute;
    text-align: center;
    width: 100%
}

.wp-block-gallery .blocks-gallery-image figcaption img,
.wp-block-gallery .blocks-gallery-item figcaption img {
    display: inline
}

.wp-block-gallery.is-cropped .blocks-gallery-image a,
.wp-block-gallery.is-cropped .blocks-gallery-image img,
.wp-block-gallery.is-cropped .blocks-gallery-item a,
.wp-block-gallery.is-cropped .blocks-gallery-item img {
    width: 100%
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .wp-block-gallery.is-cropped .blocks-gallery-image a,
    .wp-block-gallery.is-cropped .blocks-gallery-image img,
    .wp-block-gallery.is-cropped .blocks-gallery-item a,
    .wp-block-gallery.is-cropped .blocks-gallery-item img {
        -o-object-fit: cover;
        flex: 1;
        height: 100%;
        object-fit: cover
    }
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
    width: calc(50% - 8px)
}

.wp-block-gallery .blocks-gallery-image:nth-of-type(2n),
.wp-block-gallery .blocks-gallery-item:nth-of-type(2n) {
    margin-right: 0
}

.wp-block-gallery.columns-1 .blocks-gallery-image,
.wp-block-gallery.columns-1 .blocks-gallery-item {
    margin-right: 0;
    width: 100%
}

@media (min-width:600px) {
    .wp-block-gallery.columns-3 .blocks-gallery-image,
    .wp-block-gallery.columns-3 .blocks-gallery-item {
        margin-right: 16px;
        width: calc(33.33333% - 10.66667px)
    }
    .wp-block-gallery.columns-4 .blocks-gallery-image,
    .wp-block-gallery.columns-4 .blocks-gallery-item {
        margin-right: 16px;
        width: calc(25% - 12px)
    }
    .wp-block-gallery.columns-5 .blocks-gallery-image,
    .wp-block-gallery.columns-5 .blocks-gallery-item {
        margin-right: 16px;
        width: calc(20% - 12.8px)
    }
    .wp-block-gallery.columns-6 .blocks-gallery-image,
    .wp-block-gallery.columns-6 .blocks-gallery-item {
        margin-right: 16px;
        width: calc(16.66667% - 13.33333px)
    }
    .wp-block-gallery.columns-7 .blocks-gallery-image,
    .wp-block-gallery.columns-7 .blocks-gallery-item {
        margin-right: 16px;
        width: calc(14.28571% - 13.71429px)
    }
    .wp-block-gallery.columns-8 .blocks-gallery-image,
    .wp-block-gallery.columns-8 .blocks-gallery-item {
        margin-right: 16px;
        width: calc(12.5% - 14px)
    }
    .wp-block-gallery.columns-1 .blocks-gallery-image:nth-of-type(1n),
    .wp-block-gallery.columns-1 .blocks-gallery-item:nth-of-type(1n),
    .wp-block-gallery.columns-2 .blocks-gallery-image:nth-of-type(2n),
    .wp-block-gallery.columns-2 .blocks-gallery-item:nth-of-type(2n),
    .wp-block-gallery.columns-3 .blocks-gallery-image:nth-of-type(3n),
    .wp-block-gallery.columns-3 .blocks-gallery-item:nth-of-type(3n),
    .wp-block-gallery.columns-4 .blocks-gallery-image:nth-of-type(4n),
    .wp-block-gallery.columns-4 .blocks-gallery-item:nth-of-type(4n),
    .wp-block-gallery.columns-5 .blocks-gallery-image:nth-of-type(5n),
    .wp-block-gallery.columns-5 .blocks-gallery-item:nth-of-type(5n),
    .wp-block-gallery.columns-6 .blocks-gallery-image:nth-of-type(6n),
    .wp-block-gallery.columns-6 .blocks-gallery-item:nth-of-type(6n),
    .wp-block-gallery.columns-7 .blocks-gallery-image:nth-of-type(7n),
    .wp-block-gallery.columns-7 .blocks-gallery-item:nth-of-type(7n),
    .wp-block-gallery.columns-8 .blocks-gallery-image:nth-of-type(8n),
    .wp-block-gallery.columns-8 .blocks-gallery-item:nth-of-type(8n) {
        margin-right: 0
    }
}

.wp-block-gallery .blocks-gallery-image:last-child,
.wp-block-gallery .blocks-gallery-item:last-child {
    margin-right: 0
}

.wp-block-gallery .blocks-gallery-item.has-add-item-button {
    width: 100%
}

.wp-block-gallery.alignleft,
.wp-block-gallery.alignright {
    max-width: 305px;
    width: 100%
}

.wp-block-gallery.aligncenter,
.wp-block-gallery.alignleft,
.wp-block-gallery.alignright {
    display: flex
}
.aligncenter{
	text-align:center;
}
.wp-block-gallery.aligncenter .blocks-gallery-item figure {
    justify-content: center
}
.wp-block-table {
    font-size: 17px;
    font-family: Roboto,Arial,sans-serif;
}
.dez-post-text .wp-block-table th, 
.dez-post-text .wp-block-table td {
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #e4e4e4;
    border-right: 0;
    border-left: 0;
}
.wp-block-table tr:nth-child(2n+1) td {
    background: #fafafa;
}
.thm-unit-test table tbody tr td {
	border-width: 1px 0 1px 0px !important; 
}
@media only screen and (max-width: 1200px) {
	.blog-post.blog-single .dez-post-text .wp-block-gallery {
		margin-left: calc(-100px - (10px/2));
		margin-right: calc(-100px - (10px/2));
		width: calc(100% + 200px + 10px);
	}
	.alignwide {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	.blog-post.blog-single .dez-post-text .wp-block-gallery {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}
/* New Css */
pre {
	margin: 0 0 30px;
    padding: 20px;
    color: #ddd;
    background-color: #222;
    white-space: pre;
    text-shadow: 0 1px 0 #000;
    border-radius: 5px;
    border-bottom: 1px solid #555;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) inset, 0 0 20px rgba(0, 0, 0, 0.2) inset;
}

/* WP Table */
.wp-block-table {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.wp-block-table th, 
.wp-block-table td {
    background: #fff;
    padding: 10px 15px;
    border: 1px solid #e4e4e4;
    border-right: 0;
    border-left: 0;
}
.wp-block-table tr:nth-child(2n+1) td {
    background: #fafafa;
}


.wp-block-pullquote{
	padding:0;
}
.wp-block-pullquote{
	padding:0;
}
.wp-block-pullquote.alignleft blockquote,
.wp-block-pullquote.alignright blockquote{
	margin-top:0;
	margin-bottom:10px;
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large{
    padding: 16px 20px 16px 80px;
}


/* Catagory */
.wp-block-latest-posts,
.wp-block-categories-list,
.wp-block-archives-list{
	list-style:none;
	margin-left: 0 !important;
}
.wp-block-latest-posts li,
.wp-block-categories-list li,
.wp-block-archives-list li{
	padding-bottom: 18px;
    margin-bottom: 13px;
    border-bottom: 1px solid rgba(102,102,102,.11);
    position: relative;
    padding: 10px 10px 10px 15px;
    margin-bottom: 0;
    line-height: 20px;
}
.wp-block-latest-posts li a,
.wp-block-categories-list li a,
.wp-block-archives-list li a{
    color: #767676;
}
.wp-block-latest-posts li:before ,
.wp-block-categories-list li:before ,
.wp-block-archives-list li:before {
    content: "\f105";
    position: absolute;
    left: 0;
    top: 10px;
    display: block;
    font-family: FontAwesome;
}
.wp-block-categories-list li a{
	 float: left;
}
.wp-block-categories-list li {
    text-align: right;
}
.wp-block-cover, 
.wp-block-cover-image{
    margin: 0 0 30px;
}
.single-hentry .wp-block-gallery{
	margin-left:0;
}

.wp-block-button__link {
    border-radius: 0;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 700;
}
/** Gutenberg CSS END **/