.wp-block-gallery{
	padding-left:0px !important;
}
.wp-block-gallery li{
	list-style:none !important;
}

/************Color Pallete*****************/
.has-strong-yellow-background-color{
	background:#fdc716 !important;
}
.has-strong-white-background-color{
	background:#ffffff !important;
}
.has-light-black-background-color{
	background:#333333 !important;
}
.has-very-light-gray-background-color{
	background:#767676 !important;
}
.has-very-dark-black-background-color{
	background:#000000 !important;
}
.has-strong-yellow-color{
	color:#fdc716 !important;
}
.has-strong-white-color{
	color:#ffffff !important;
}
.has-light-black-color{
	color:#333333 !important;
}
.has-very-light-gray-color{
	color:#767676 !important;
}
.has-very-dark-black-color{
	color:#000000 !important;
}

/******************Font Size Setting*****************/
.has-small-font-size{
	font-size:10px !important;
}
.has-normal-font-size{
	font-size:15px !important;
}
.has-large-font-size{
	font-size:24px !important;
}
.has-huge-font-size{
	font-size:36px !important;
}