@media only screen and (max-width: 1200px) {
    .const_theme .const_theme{
		margin-left:0px;
	}
}

@media only screen and (max-width: 767px) {
    .const_theme .const_theme{
		margin-left:0px;
	}
	.admin-bar .is-fixed .main-bar{
		top:46px;
	}
	.side-bar{
		margin-top:70px;
	}
	.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
		float:none;
		width:100%;
		margin-bottom:20px;
	}
}

@media only screen and (max-width: 600px) {
	.admin-bar .is-fixed .main-bar{
		top:0px;
	}
	.extra-nav #quik-search-btn{
		display:none;
	}
}

@media only screen and (max-width: 499px) {
    .const_theme .const_theme .comment{
		margin-left:0px;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text{
		margin-right:0px !important;
		width:100% !important;
		margin-bottom:15px;
	}
	.woocommerce-page table.cart td.actions .coupon .input-text + .button{
		width:100%;
		float:none;
		margin-top:15px;
	}
	
}